/Projects/homework2/nbproject/private/
/Projects/homework2/build/
/Projects/homework3/nbproject/private/
/Projects/homework3/build/
/Projects/ThreadTest/nbproject/private/
/Projects/ThreadTest/build/
/Projects/ProdconSys/nbproject/private/
/Projects/ProdconSync/nbproject/private/
/Projects/BankersAlgorithm/nbproject/private/
/Projects/BankersAlgorithm/build/
/Projects/Test/nbproject/private/
/Projects/Test/build/
/Projects/FileManager/nbproject/private/
/Projects/FileManager/build/